table#chem13-pte {
  width: auto;
}
table#chem13-pte col {
  width: 25px;
}
table#chem13-pte td,
#chem13-pte th {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
table#chem13-pte img {
  display: block;
}
